<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Last Name</key>
		<string>Washington</string>
		<key>First Name</key>
		<string>George</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Adams</string>
		<key>First Name</key>
		<string>John</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Jefferson</string>
		<key>First Name</key>
		<string>Thomas</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Madison</string>
		<key>First Name</key>
		<string>James</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Monroe</string>
		<key>First Name</key>
		<string>James</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Adams</string>
		<key>First Name</key>
		<string>John Quincy</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Jackson</string>
		<key>First Name</key>
		<string>Andrew</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Van Buren</string>
		<key>First Name</key>
		<string>Martin</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Harrison</string>
		<key>First Name</key>
		<string>William</string>
	</dict>
	<dict>
		<key>Last Name</key>
		<string>Tyler</string>
		<key>First Name</key>
		<string>John</string>
	</dict>
</array>
</plist>
